In [148]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [149]:
df = pd.read_csv('./Data/AccumsDataset.csv')

In [41]:
df = df.drop(['Unnamed: 0'], axis=1)

In [47]:
df.set_index(['OBS_TIME_LOC'],inplace=True)

In [43]:
df = df.drop(['VOID_FLAG'], axis=1)

In [168]:
cf = pd.read_csv('./Data/eventDatasets.csv')

In [175]:
cf.head()

                     PRCP      LAT      LONG
2005-11-26 00:00:00   0.2 -28.6399  153.6358
2005-11-26 00:15:00   2.8 -28.6399  153.6358
2005-11-26 00:30:00   3.8 -28.6399  153.6358
2005-11-26 00:45:00   7.2 -28.6399  153.6358
2005-11-26 01:00:00   9.6 -28.6399  153.6358

In [169]:
cf = cf.drop(['VOID_FLAG', 'LOC', 'LOC_NAME'], axis=1)

In [172]:
cf['OBS_TIME_LOC'] = pd.to_datetime(cf['OBS_TIME_LOC'])

In [173]:
cf.set_index(['OBS_TIME_LOC'],inplace=True)

In [174]:
cf.index = pd.date_range('26/11/2005', periods=len(cf), freq='0.25H')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3369: UserWarning: Parsing '26/11/2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [170]:
cf = cf.drop(['Unnamed: 0'], axis=1)

In [66]:
wf = pd.read_csv('./Data/riverHeightDatasets.csv')

In [205]:
wf.tail()

                           HT
2022-01-05 01:26:24.000  0.58
2022-01-05 01:28:55.200  0.59
2022-01-05 01:31:26.400  0.60
2022-01-05 01:33:57.600  0.61
2022-01-05 01:36:28.800  0.62

In [68]:
wf = wf.drop(['LOC', 'LOC_NAME', 'LAT', 'LONG', 'VOID_FLAG', 'Unnamed: 0'], axis=1)

In [206]:
wf.index = pd.date_range('26/11/2005', periods=len(wf), freq='0.04H')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3369: UserWarning: Parsing '26/11/2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [70]:
wf['OBS_TIME_LOC'] = pd.to_datetime(wf['OBS_TIME_LOC'])

In [71]:
wf.dtypes

OBS_TIME_LOC    datetime64[ns]
HT                     float64
dtype: object

In [73]:
wf.set_index(['OBS_TIME_LOC'],inplace=True)

In [215]:
df.tail()

                       PRCP      LAT      LONG    HT
2022-02-23 11:21:36  1105.0 -28.5314  153.3151  0.85
2022-02-23 11:26:24  1105.0 -28.5314  153.3151  1.31
2022-02-23 11:31:12  1611.0 -28.5314  153.3151  0.75
2022-02-23 11:36:00  1105.0 -28.5314  153.3151  0.91
2022-02-23 11:40:48  1105.0 -28.5314  153.3151  0.67

In [214]:
df.index = pd.date_range('26/11/2005', periods=len(df), freq='0.08H')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3369: UserWarning: Parsing '26/11/2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [150]:
df['date_time']=pd.to_datetime( df['OBS_TIME_LOC'])
df.set_index(['OBS_TIME_LOC'],inplace=True)

In [151]:
df = df.drop(['LOC', 'LOC_NAME', 'VOID_FLAG', 'Unnamed: 0'], axis=1)

In [152]:
df = df.drop(['date_time'], axis=1)

In [161]:
df =df.join(wf, how='right')

In [163]:
df = df.dropna()

In [164]:
df.tail()

                       PRCP      LAT      LONG    HT
2056-09-01 02:30:00  1105.0 -28.5314  153.3151  0.85
2056-09-01 02:45:00  1105.0 -28.5314  153.3151  1.31
2056-09-01 03:00:00  1611.0 -28.5314  153.3151  0.75
2056-09-01 03:15:00  1105.0 -28.5314  153.3151  0.91
2056-09-01 03:30:00  1105.0 -28.5314  153.3151  0.67

In [165]:
df.info

<bound method DataFrame.info of                        PRCP      LAT      LONG    HT
2005-11-26 00:00:00  1411.0 -28.5031  153.3817  1.52
2005-11-26 00:15:00  1411.0 -28.5031  153.3817  1.53
2005-11-26 00:30:00  1411.0 -28.5031  153.3817  1.52
2005-11-26 00:45:00  1411.0 -28.5031  153.3817  1.53
2005-11-26 01:00:00  1411.0 -28.5031  153.3817  1.54
...                     ...      ...       ...   ...
2056-09-01 02:30:00  1105.0 -28.5314  153.3151  0.85
2056-09-01 02:45:00  1105.0 -28.5314  153.3151  1.31
2056-09-01 03:00:00  1611.0 -28.5314  153.3151  0.75
2056-09-01 03:15:00  1105.0 -28.5314  153.3151  0.91
2056-09-01 03:30:00  1105.0 -28.5314  153.3151  0.67

[1780047 rows x 4 columns]>

In [167]:
df.to_csv('RainAccum_WL.csv')

In [216]:
cf = cf.join(wf, how='right')

ValueError: columns overlap but no suffix specified: Index(['HT'], dtype='object')

In [183]:
cf = cf.dropna()

In [185]:
cf.to_csv('RainEvent_WL.csv')

In [184]:
cf.tail()

                     PRCP      LAT      LONG    HT
2025-07-31 01:15:00   0.0 -28.5028  153.3833  0.84
2025-07-31 01:30:00   0.0 -28.5028  153.3833  0.85
2025-07-31 01:45:00   0.0 -28.5028  153.3833  0.84
2025-07-31 02:00:00   0.0 -28.5028  153.3833  0.85
2025-07-31 02:15:00   0.0 -28.5028  153.3833  0.84