In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('./Data/AccumusDatasets.csv')

In [5]:
df.head()

,Unnamed: 0,OBS_TIME_LOC,HT,VOID_FLAG,LOC,LOC_NAME,LAT,LONG
0,0,2005-11-26 09:51:35,1.52,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
1,1,2005-11-26 09:52:07,1.53,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
2,2,2005-11-26 09:53:07,1.52,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
3,3,2005-11-26 09:54:07,1.53,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
4,4,2005-11-26 10:09:35,1.54,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772

In [6]:
cf = pd.read_csv('./Data/eventDatasets.csv')

In [8]:
cf.head()

,Unnamed: 0,OBS_TIME_LOC,PRCP,VOID_FLAG,LOC,LOC_NAME,LAT,LONG
0,0,2007-11-07 10:00:00,0.2,N,58216,Cape Byron Aws,-28.6399,153.6358
1,1,2007-11-07 11:00:00,2.8,N,58216,Cape Byron Aws,-28.6399,153.6358
2,2,2007-11-07 12:00:00,3.8,N,58216,Cape Byron Aws,-28.6399,153.6358
3,3,2007-11-07 13:00:00,7.2,N,58216,Cape Byron Aws,-28.6399,153.6358
4,4,2007-11-07 14:00:00,9.6,N,58216,Cape Byron Aws,-28.6399,153.6358

In [11]:
wf = pd.read_csv('./Data/riverHeightDatasets.csv')

In [12]:
wf.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:9b8a485b1da4972ab71cb25445e4af34fef...
1                                     size 144778878